@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<li class="nav-item">
        <a class="button" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
    </li>*@
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>