@model lab1.Models.Client.ClientRegistrationModel
 
<h2>Регистрация</h2>
 
<form asp-action="ClientRegistration" asp-controller="Client" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        @*<div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model.RoleId">
                @foreach (var role in ViewBag.Roles)
                {
                    <option value="@role.Id">
                        @role.Name
                    </option>
                }
            </select>
        </div>    тут выбор компании*@
        <div>
            <label asp-for="PassportSeriesAndNumber">Введите серию и номер паспорта</label><br/>
            <input type="text" asp-for="PassportSeriesAndNumber"/>
            <span asp-validation-for="PassportSeriesAndNumber"/>
        </div>
        <div>
            <label asp-for="IdentificationNumber">Введите идентификационный номер паспорта</label><br/>
            <input type="text" asp-for="IdentificationNumber"/>
            <span asp-validation-for="IdentificationNumber"/>
        </div>
        <div>
            <input type="submit" value="Подтвердить"/>
        </div>
    </div>
</form>