@model lab1.Models.Client.NewCreditModel
 
<h2>Взятие кредита</h2>
 
<form asp-action="NewCredit" asp-controller="Client" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.AccountId">
                @foreach (var acc in Model.BankAccounts)
                {
                    <option value="@acc.Id">@acc.Bank?.LegalName, @acc.Name : @acc.Money</option>
                }
            </select>
        </div>
        <div>
            <label asp-for="Money">Введите сумму кредита</label><br/>
            <input type="text" asp-for="Money"/>
            <span asp-validation-for="Money"/>
        </div>
        <div>
            <label asp-for="Percent">Введите процент кредита</label><br/>
            <input type="text" asp-for="Percent"/>
            <span asp-validation-for="Percent"/>
        </div>
        
        <div>
            <label asp-for="Percent">Количество месяцев</label><br/>
            <input type="text" asp-for="Months"/>
            <span asp-validation-for="Months"/>
        </div>
        
        <div>
            <input type="submit" value="Подтвердить"/>
        </div>
    </div>
</form>